.contact-page{
    display:flex;
    justify-content: space-around;
    padding: 5rem 3rem;
    align-items: center;
}

.contact-section-1{
    padding: 2rem;
    width: 50%;
    border-right: 2px solid rgba(255, 255, 255, 0.557);
}


.contact-section-1 p{
    font-size: 1.3rem;
}

.contact-section-2 {
    padding: 2rem;
    width: 50%;
}

.contact-section-2 p{
    font-size: 1.3rem;
}