.collapsable-card {
    margin: 1rem 0;
    border-radius: 8px;
    align-items: center;
    padding: 0.5rem;
    overflow: hidden;
    color:black;
    width: 100%;
    background-color: var(--white);
}
.cc-header {
    padding: 1rem;
    cursor: pointer;
    justify-content: space-between;
    display: flex;
    color: var(--purple);
}
.cc-content {
    transition: height 0.4s ease;
    overflow: hidden;
    color: var(--text-black);
    padding: 0 1rem; 
}

.expand-text {
    color: var(--text-black);
}
